
<div class="d-flex flex-column justify-content-center align-items-center new-product-layout ">

<h1> Edit<span class='text-color'> <%= @product.name%> </span> </h1>


<%= render 'form', product: @product, brands: @brands, title: 'This is the Edit page' %>
</div>
